# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data=pd.read_csv("housing_price_dataset.csv")
data.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [3]:
data.tail()

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

In [4]:
df=data.sample(frac=0.25)

In [5]:
df.shape

(12500, 6)

# Data Preprocessing

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12500 entries, 24176 to 42594
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SquareFeet    12500 non-null  int64
 1   Bedrooms      12500 non-null  int64
 2   Bathrooms     12500 non-null  int64
 3   Neighborhood  12500 non-null  object
 4   YearBuilt     12500 non-null  int64
 5   Price         12500 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 683.6+ KB

In [7]:
df.shape

(12500, 6)

In [8]:
df.describe()

         SquareFeet      Bedrooms    Bathrooms     YearBuilt          Price
count  12500.000000  12500.000000  12500.00000  12500.000000   12500.000000
mean    2005.938560      3.482960      2.00104   1985.162720  224952.038026
std      574.217217      1.115585      0.81661     20.788153   76063.620917
min     1000.000000      2.000000      1.00000   1950.000000  -28774.998022
25%     1512.000000      2.000000      1.00000   1967.000000  171363.882616
50%     2013.000000      3.000000      2.00000   1985.000000  224668.830061
75%     2499.000000      4.000000      3.00000   2003.000000  278848.602738
max     2999.000000      5.000000      3.00000   2021.000000  476671.733263

In [9]:
df.corr()

            SquareFeet  Bedrooms  Bathrooms  YearBuilt     Price
SquareFeet    1.000000 -0.015414  -0.005962   0.003361  0.750700
Bedrooms     -0.015414  1.000000   0.014905   0.000409  0.065673
Bathrooms    -0.005962  0.014905   1.000000   0.003270  0.026751
YearBuilt     0.003361  0.000409   0.003270   1.000000 -0.001794
Price         0.750700  0.065673   0.026751  -0.001794  1.000000

In [10]:
df.isnull().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

In [11]:
df.isna().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

# Regression Model

In [12]:
X=df.drop(["Neighborhood","Price"],axis=1).values
y=df["Price"].values

In [13]:
print(X)

[[2735    5    1 1953]
 [2564    4    1 1959]
 [1412    2    2 1966]
 ...
 [1544    2    2 1955]
 [1878    3    1 1985]
 [2499    3    3 1976]]

In [14]:
print(y)

[256587.11233009 267047.9885181  170685.99402431 ... 284363.07711943
 187819.15424556 197798.05537676]

In [15]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Adding a column of ones for the intercept term
X_train = np.hstack((np.ones_like(X_train), X_train))
X_test = np.hstack((np.ones_like(X_test), X_test))

In [17]:
print(X_train)

[[   1    1    1 ...    5    3 1995]
 [   1    1    1 ...    2    1 2020]
 [   1    1    1 ...    3    1 2011]
 ...
 [   1    1    1 ...    4    2 2021]
 [   1    1    1 ...    2    2 1978]
 [   1    1    1 ...    2    3 1969]]

In [18]:
def prediction(X, weights):
    return np.dot(X, weights)

In [19]:
def compute_cost(X, y, weights):
    m = len(y)
    error = prediction(X, weights) - y
    cost = np.dot(error.T, error)/(2*m)
    return cost

In [20]:
def gradient_descent(X, y,learning_rate, epochs):
    print(f"Shape of X = {X.shape}")
    print(f"Shape of y = {y.shape}")
    m,n=X.shape
    weights=np.zeros(n)
    costs=[]
    for i in range(epochs):
        predictions = prediction(X, weights)
        error = predictions - y
        print(error.shape)
        print(error)
        gradient = np.dot(X.T, error) / m
        weights-=learning_rate * gradient
        cost=compute_cost(X, y,weights)
        costs.append(cost)
    
    return weights,costs

In [21]:
# Train the model
learning_rate = 1e-6
epochs = 40
weights,costs=gradient_descent(X_train, y_train, learning_rate, epochs)
#print(costs)

Shape of X = (10000, 8)
Shape of y = (10000,)
(10000,)
[-413360.73515668 -270577.4789176  -219575.47064866 ... -197521.82717092
 -288741.17238119 -152558.92367444]
(10000,)
[1818198.94095342 1595855.01929583 1830740.96037699 ... 2045169.05949655
 1963866.28286131 1338096.29804742]
(10000,)
[-14111689.3283089  -11764235.01193068 -12823915.1361188  ...
 -13965852.18388234 -14112535.16706264  -9369238.624813  ]
(10000,)
[9.98787816e+07 8.38064789e+07 9.20256478e+07 ... 1.00603776e+08
 1.00929498e+08 6.71939427e+07]
(10000,)
[-7.15577346e+08 -5.99905814e+08 -6.58052130e+08 ... -7.18996669e+08
 -7.22046567e+08 -4.80564817e+08]
(10000,)
[5.11816449e+09 4.29132382e+09 4.70796442e+09 ... 5.14439245e+09
 5.16549484e+09 3.43804074e+09]
(10000,)
[-3.66160362e+10 -3.07002257e+10 -3.36801700e+10 ... -3.68019038e+10
 -3.69535825e+10 -2.45954358e+10]
(10000,)
[2.61947795e+11 2.19627091e+11 2.40946108e+11 ... 2.63279245e+11
 2.64363634e+11 1.75954254e+11]
(10000,)
[-1.87395885e+12 -1.57119861e+12 -1.72371281e+12 ... -1.88348219e+12
 -1.89124055e+12 -1.25876548e+12]
(10000,)
[1.34061814e+13 1.12402545e+13 1.23313321e+13 ... 1.34743126e+13
 1.35298147e+13 9.00512824e+12]
(10000,)
[-9.59069700e+13 -8.04120662e+13 -8.82175651e+13 ... -9.63943743e+13
 -9.67914334e+13 -6.44221146e+13]
(10000,)
[6.86112362e+14 5.75262806e+14 6.31102849e+14 ... 6.89599223e+14
 6.92439757e+14 4.60871710e+14]
(10000,)
[-4.90840419e+15 -4.11539352e+15 -4.51486964e+15 ... -4.93334897e+15
 -4.95366997e+15 -3.29704689e+15]
(10000,)
[3.51144113e+16 2.94412635e+16 3.22990902e+16 ... 3.52928647e+16
 3.54382399e+16 2.35868637e+16]
(10000,)
[-2.51206265e+17 -2.10620926e+17 -2.31065636e+17 ... -2.52482909e+17
 -2.53522914e+17 -1.68738923e+17]
(10000,)
[1.79711364e+18 1.50676871e+18 1.65302886e+18 ... 1.80624667e+18
 1.81368680e+18 1.20714752e+18]
(10000,)
[-1.28564367e+19 -1.07793275e+19 -1.18256633e+19 ... -1.29217738e+19
 -1.29750000e+19 -8.63585656e+18]
(10000,)
[9.19741300e+19 7.71146230e+19 8.46000433e+19 ... 9.24415476e+19
 9.28223245e+19 6.17803685e+19]
(10000,)
[-6.57977076e+20 -5.51673108e+20 -6.05223328e+20 ... -6.61320951e+20
 -6.64045004e+20 -4.41972826e+20]
(10000,)
[4.70712614e+21 3.94663432e+21 4.32972919e+21 ... 4.73104802e+21
 4.75053572e+21 3.16184548e+21]
(10000,)
[-3.36744810e+22 -2.82339709e+22 -3.09746072e+22 ... -3.38456165e+22
 -3.39850303e+22 -2.26196415e+22]
(10000,)
[2.40905095e+23 2.01984031e+23 2.21590369e+23 ... 2.42129388e+23
 2.43126745e+23 1.61819476e+23]
(10000,)
[-1.72341972e+24 -1.44498091e+24 -1.58524341e+24 ... -1.73217824e+24
 -1.73931327e+24 -1.15764624e+24]
(10000,)
[1.23292351e+25 1.03373015e+25 1.13407305e+25 ... 1.23918929e+25
 1.24429365e+25 8.28172755e+24]
(10000,)
[-8.82025634e+25 -7.39523975e+25 -8.11308645e+25 ... -8.86508137e+25
 -8.90159761e+25 -5.92469520e+25]
(10000,)
[6.30995528e+26 5.29050748e+26 5.80405044e+26 ... 6.34202282e+26
 6.36814630e+26 4.23848926e+26]
(10000,)
[-4.51410187e+27 -3.78479539e+27 -4.15218076e+27 ... -4.53704278e+27
 -4.55573136e+27 -3.03218825e+27]
(10000,)
[3.22935976e+28 2.70761855e+28 2.97044370e+28 ... 3.24577154e+28
 3.25914123e+28 2.16920819e+28]
(10000,)
[-2.31026343e+29 -1.93701309e+29 -2.12503653e+29 ... -2.32200431e+29
 -2.33156890e+29 -1.55183774e+29]
(10000,)
[1.65274776e+30 1.38572684e+30 1.52023762e+30 ... 1.66114712e+30
 1.66798956e+30 1.11017485e+30]
(10000,)
[-1.18236523e+31 -9.91340166e+30 -1.08756832e+31 ... -1.18837408e+31
 -1.19326912e+31 -7.94212023e+30]
(10000,)
[8.45856568e+31 7.09198448e+31 7.78039457e+31 ... 8.50155257e+31
 8.53657139e+31 5.68174229e+31]
(10000,)
[-6.05120408e+32 -5.07356059e+32 -5.56604478e+32 ... -6.08195663e+32
 -6.10700887e+32 -4.06468229e+32]
(10000,)
[4.32899290e+33 3.62959297e+33 3.98191303e+33 ... 4.35099308e+33
 4.36891530e+33 2.90784786e+33]
(10000,)
[-3.09693398e+34 -2.59658772e+34 -2.84863525e+34 ... -3.11267277e+34
 -3.12549421e+34 -2.08025586e+34]
(10000,)
[2.21552687e+35 1.85758234e+35 2.03789554e+35 ... 2.22678630e+35
 2.23595868e+35 1.48820181e+35]
(10000,)
[-1.58497383e+36 -1.32890259e+36 -1.45789750e+36 ... -1.59302875e+36
 -1.59959061e+36 -1.06465011e+36]
(10000,)
[1.13388020e+37 9.50688458e+36 1.04297060e+37 ... 1.13964264e+37
 1.14433695e+37 7.61643913e+36]
(10000,)
[-8.11170679e+37 -6.80116475e+37 -7.46134533e+37 ... -8.15293093e+37
 -8.18651375e+37 -5.44875211e+37]
(10000,)
[5.80306344e+38 4.86551000e+38 5.33779899e+38 ... 5.83255492e+38
 5.85657986e+38 3.89800260e+38]

In [22]:
# Predict on the test set
y_pred_test = np.dot(X_test, weights)

# Calculate regression metrics

mse = np.mean((y_test - y_pred_test)**2)
rmse = np.sqrt(mse)
mae = np.mean(np.abs(y_test - y_pred_test))
total_variance = np.sum((y_test - np.mean(y_test))**2)
r_squared = 1 - (mse / total_variance)

In [23]:
# Print regression metrics
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R-squared: {r_squared}")

Mean Squared Error (MSE): 1.2188671802485943e+79
Root Mean Squared Error (RMSE): 3.491227835946251e+39
Mean Absolute Error (MAE): 3.452765012294533e+39
R-squared: -8.669356350189882e+65